version: 2.1

parameters:
  min_rust_version:
    type: string
    default: "1.81"
  fingerprint:
    type: string
    default: SHA256:OkxsH8Z6Iim6WDJBaII9eTT9aaO1f3eDc6IpsgYYPVg
  update_pcu:
    type: boolean
    default: false

orbs:
  toolkit: jerus-org/circleci-toolkit@4.0.1

# Custom executors removed - using toolkit rolling executors instead

jobs:
  tools:
    executor:
      name: toolkit/rust_env_rolling
    steps:
      - run:
          name: Run tools
          command: |
            set -ex
            nextsv --version
            pcu --version
            cargo release --version
            cargo audit --version
            git --version

workflows:
  release:
    jobs:
      - tools
      - toolkit/make_release:
          context:
            - release
            - bot-check
            # - pcu-app
          ssh_fingerprint: << pipeline.parameters.fingerprint >>
          min_rust_version: << pipeline.parameters.min_rust_version >>
          remove_ssh_key: false
          when_update_pcu: << pipeline.parameters.update_pcu >>
